.emptyContainer {
  width: 50vw;
  max-width: 500px;
  margin: 10vw auto;
}

.emptyContainer h2 {
  font-size: 38px;
}

.emptyContainer p {
  padding: 1rem 0 1rem 0;
  font-style: italic;
}

.emptyContainer button {
  background-color: var(--accent);
  color: whitesmoke;
}

.emptyContainer button:hover {
  background-color: var(--accent-soft);
  color: black;
}

.cartpage {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

.left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right {
  width: 25%;
}

.right div {
  display: flex;
  justify-content: space-between;
}

.right div p {
  margin: auto 0;
}

.right button:hover {
  background-color: var(--btn-primary);
  color: var(--text);
}

.orderbold {
  font-weight: bold;
}
.itemcard {
  justify-content: space-between;
  text-align: left;
  display: flex;
  gap: 0.6rem;
  border: var(--border) 1px solid;
  border-radius: 10px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  background-color: var(--bg-secondary);
  padding: 1rem;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.fadeOut {
  animation-name: fadeOutLeft;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; /* Keep the end state (invisible) */
}

.itemcard img {
  height: 250px;
  max-width: 250px;
}

.itemcard > div p {
  padding-bottom: 10px;
}

.itemname {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-h);
  padding-bottom: 5px;
}

.desc {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 5px;
}

.price {
  font-size: 1.2rem;
}

.addminusbutton {
  display: flex;
  color: var(--text);
  text-align: center;
  gap: 5px;
  padding-top: 1rem;
}

.addminusbutton input {
  width: 50px;
  text-align: center;
}

.addminusbutton button {
  border-radius: 50%;
  background-color: transparent;
  color: var(--text);
  aspect-ratio: 1;
  padding: 0;
  font-weight: bold;
  min-width: 0;
  width: 30px;
}

.addminusbutton button:hover {
  background-color: var(--primary-soft);
  color: whitesmoke;
}

.removebutton {
  position: absolute;
  color: var(--text);
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 25px;
  min-width: 0;
  aspect-ratio: 1;
  padding: 0;
  background-color: transparent;
  font-size: 1rem;
}

.removebutton:hover {
  background-color: var(--bg);
}

@media (max-width: 760px) {
  .cartpage {
    flex-direction: column;
  }

  .cartpage .right,
  .cartpage .left {
    width: 80%;
    margin: auto;
  }

  .itemcard img {
    width: 150px;
    height: 150px;
  }
}
