.hero {
  display: flex;
  height: 85vh;
  margin: auto;
}

.left {
  width: 60%;
  text-align: left;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: var(--text-h);
  font-size: 2rem;
  font-weight: bold;
}
.hero button {
  background-color: var(--btn-primary);
  color: var(--btn-primary-text);
  width: fit-content;
}

.hero button:hover {
  background-color: var(--btn-primary-hover);
}
.right {
  width: 40%;
}

.hero img {
  height: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 821px) {
  .hero {
    height: 400px;
  }

  .right {
    overflow: clip;
  }
}

@media (max-width: 550px) {
  .hero .right {
    display: none;
  }

  .hero .left {
    width: 100%;
  }
}
