.products {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  margin: 2rem auto;
}

.header p {
  font-weight: 300;
  font-style: italic;
  font-size: 0.8rem;
}
